div.home{
    text-align: center;
}

img.img-thumbnail{
    object-fit: cover;
    height: 250px;
}

/* .card1-list{
    display: flex;
    flex-direction: row;
    padding: 3rem 1.5rem;
    margin: 0 auto;
} */
  
.cards-column{
    margin: 0 auto;
    padding: 0px;
}
  
.card1{
    display: flex;
    position: relative;
    flex-direction: column;
    height: 650px;
    width: 400px;
    min-width: 256px;
    padding: 1.25rem;
    margin: 1.25rem;
    border-radius: 16px;
    box-shadow: -0.125rem 0 1.25rem #000;
    transition: .3s;
}
  
.card1:hover{
    transform: translateY(-1.5rem);
}
  